body {
  background-color: #192a32;
  font-family: sans-serif;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #1f3540;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(0 6px 0rem #00000048);
  cursor: pointer;
  color: #30c4bc;
  font-size: 50px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(0 6px 0rem #00000048);
  display: inline-block;
  text-align: center;
  padding-top: 0.5rem;
}

#ties {
  background-color: #a8bec9;
}

.reset-btn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  background-color: #a8bec9;
  filter: drop-shadow(0 6px 0rem #00000048);
  border-radius: 10px;
  cursor: pointer;
}

.reset-btn img {
  width: 20px;
  height: 20px;
}

.turn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8bec9;
  width: 100px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  background-color: #1f3540;
  border-radius: 10px;
  filter: drop-shadow(0 6px 0rem #00000048);
}

.cross-circle {
  width: 100px;
  height: 40px;
  display: flex;
  margin: 10px;
  font-size: 32px;
}

.cross-circle .circle {
  margin-left: 0.5rem;
}

.circle {
  color: #f2b237;
}

.circle-info {
  background-color: #f2b237;
}

.cross {
  color: #30c4bc;
}

.cross-info {
  background-color: #30c4bc;
}

.cross-winner {
  background-color: #30c4bc;
  color: #192a32;
}

.circle-winner {
  background-color: #f2b237;
  color: #192a32;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.modal-btn {
  color: black;
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 12px;
}

.modal-btn.close {
  background-color: #a8bec9;
  filter: drop-shadow(0 6px 0rem #00000048);
}

.modal-btn.next-round {
  background-color: #f2b237;
  filter: drop-shadow(0 6px 0rem #00000048);
}

.close:hover,
.next-round:hover,
.close:focus,
.next-round:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 0;
  background-color: #1f3540;
  margin: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.owin {
  color: #f2b237;
}
.xwin {
  color: #30c4bc;
}
.youwon {
  color: #a8bec9;
}
